@font-face {
  font-family: "TradeGothic";
  src: url("../fonts/TradeGothicLTStd-Bd2.eot"), /* IE9 Compat Modes */
  		 url("../fonts/TradeGothicLTStd-Bd2.woff2") format('woff2'), /* Super Modern Browsers */
  		 url("../fonts/TradeGothicLTStd-Bd2.woff") format('woff'), /* Pretty Modern Browsers */
  		 url("../fonts/TradeGothicLTStd-Bd2.ttf") format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "TradeGothicLight";
  src: url("../fonts/TradeGothicLTStd-Light.eot"), /* IE9 Compat Modes */
  		 url("../fonts/TradeGothicLTStd-Light.woff2") format('woff2'), /* Super Modern Browsers */
  		 url("../fonts/TradeGothicLTStd-Light.woff") format('woff'), /* Pretty Modern Browsers */
  		 url("../fonts/TradeGothicLTStd-Light.ttf") format('truetype'); /* Safari, Android, iOS */
}