/*
-------------------------------------------------------------------------
Layout Breakpoints
-------------------------------------------------------------------------
*/
$maxWidth: 1080;

/*
-------------------------------------------------------------------------
Font Sizes
-------------------------------------------------------------------------
*/
$regularSize: 18;

/*
-------------------------------------------------------------------------
Font Families
-------------------------------------------------------------------------
*/
$helvetica: Helvetica, Arial, sans-serif;

/*
-------------------------------------------------------------------------
Colors
-------------------------------------------------------------------------
*/
$aqua: #35e3f0;
$black: #000;
$white: #fff;

/*
-------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------
*/
$grid-columns: 12;